.form__taskSubmit {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
}

@media (max-width: 767px) {
    .form__taskSubmit {
        display: flex;
        flex-direction: column;
    }
}

.form__header {
    text-align: left;
    margin: 20px;
}

.form__button {
    border: none;
    margin-left: 10px;
    background-color: teal;
    color: white;
    padding: 10px;
    margin-right: 20px;
}

@media (max-width: 767px) {
    .form__button {
        width: 100%;
        margin: auto;
    }
}

.form__newTask {
    display: inline-block;
    max-width: 100%;
    padding: 9px;
    border-color: lightgray;
    border-style: solid;
}

@media (max-width: 767px) {
    .form__newTask {
        width: 80%;
        margin: auto;
    }
}