html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}
.body {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    word-break: break-word;
    text-align: justify;
    margin: auto;
    padding: 20px;
 
    background-color: aliceblue;
   
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 70% ;
  
}