html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}
.body {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    word-break: break-word;
    text-align: justify;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}