html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    margin-top: 50px;
    background-color: #eee;
    word-break: break-word;
    max-width: 1000px;

     /* text-align: justify;
    margin: auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 70%; */

}